lib/VeraCryptoLib/VeraCryptoLib.xcodeproj/project.xcworkspace/xcuserdata/yramanchuk.xcuserdatad
lib/VeraCryptoLib/VeraCryptoLib.xcodeproj/xcuserdata/yramanchuk.xcuserdatad
SecureBrowser/SecureBrowser.xcodeproj/xcuserdata/yramanchuk.xcuserdatad
SecureBrowser/SecureBrowser.xcodeproj/project.xcworkspace/xcuserdata/yramanchuk.xcuserdatad
